.filter_shadow{
    filter: drop-shadow(2px 4px 6px black);
}
@media(min-width:600px){
    .top-navbar{
        box-shadow: 0 0 50px gray;
    }
    .display-flex{
        display: flex;
        align-items: center;
    }
}
#top_actions_section{
    display: flex;
    align-items: center;
}
.users-list-item.active .users-list-arrow-icon{
    transform: rotate(180deg);
}
.users-list-item.active , .users-list-item.active .collapsible-header{
    background-color: lch(95.44% 0.63 256.2);
}
.striped{
    background-color: lch(95.44% 0.63 256.2) ;
}
table.highlight > tbody > tr:hover {
  background-color: #ebd3f0;
}